{% extends "base.html" %}

{% block js %}
    {% if not request.user.is_anonymous %}
        <script type="text/javascript">
            window.location = '/';  // hackity-hack. How is this supposed to work anyway?
        </script>
    {% endif %}
{% endblock %}

{% block usernav %}{% endblock %}

{% block content %}
    {% if request.user.is_anonymous %}
        <h2>Log In</h2>
        
        <p>Select an account.</p>
  
        {% if WIND_BASE %}
            <form method="get" action="{{ WIND_BASE }}login">
              {% csrf_token %}
              <input type="hidden" name="service" value="{{ WIND_SERVICE }}" />
              <input type="hidden" name="destination" value="http://{{ request.get_host }}/accounts/windlogin/?next={{ request.get_full_path|urlencode }}" />
              <input class="btn btn-primary btn-lg btn-block" type="submit" value="Columbia University Network ID (UNI)" />
            </form>
        {% endif %}<!-- WIND -->
        
        <br />
        <p style="text-align: center;">or</p>
            
        <form id="login-local" name="login_local" method="post" action="/accounts/login/" class="form-horizontal well" role="form">
            {% csrf_token %}
            <div class="login-local-form" {% if not form.errors %}style="display: none"{% endif %}>
                <h3>Facilitator Account</h3>
                    {% if form.errors %}
                    <div class="alert alert-danger">
                    <span><b>Invalid username or password.</b></span>
                    Please try again. Note that both username and password are case-sensitive.
                    </div>
                    {% endif %}<!-- form errors -->
                        
                <div class="form-group">
                  <label for="id_username" class="col-sm-4 control-label">User Name</label>
                  <div class="col-sm-8">
                    {{ form.username }}
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="id_password" class="col-sm-4 control-label">Password</label>
                  <div class="col-sm-8">
                    {{ form.password }}
                  </div>
                </div>
                
                <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-8">
                    <input class="btn btn-default login-local-form" type="submit" value="Log In" {% if not form.errors %}style="display: none;"{% endif %} />                        
                    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                  </div>
                </div>
                
              </div><!--/ .login-local-form -->
              
              <input class="btn btn-default btn-lg btn-block" type="button" value="Guest Account" {% if form.errors %}style="display: none"{% endif %}
              onclick="jQuery('.login-local-form').show(); jQuery(this).hide(); return false;"/>
              
        </form>
    {% else %}
        
    {% endif %}<!-- request.user.is_anonymous -->
{% endblock %}


