html {
    height: 100%;
}

body {
  background-color: #fff;
}

.pageblock {
    font-size: 16px;
}

body > .container-fluid {
  background-color: #fff;
  padding-top: 50px; /* required for navbar-fixed */
}

#content {
  padding-top: 10px;
}

html.busy, html.busy * {  
  cursor: wait;
}

a[disabled] {
    color: #999;
}

/* LOGIN PAGE */
.login-description {
    margin: 30px 30px 15px 30px;
    text-align: center;
    width: 100%;
}

.login-description h2 {
    line-height: 1.3em;
    display: block;
}

.loginbox-container {
    float: right;
    height: 265px;
    margin-top: 10px;
}

.loginbox-container.columbia {
    height: 300px;
}
.loginbox
{
    display: block;
    width: 300px;
    margin: 0 30px 0 20px;
    padding: 0;
    border: 1px solid #999;
    background-color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.loginbox h2
{
    margin: 0 !important;
    padding: 5px 10px !important;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    background: #e0e0e0;
    font-weight: bold !important;
    color: black;
}
.loginbox .content
{
    margin: 0;
    padding: 10px 10px 0 10px;
    border: 0;
}

.loginbox .seperator
{
    margin: 20px 0;
    padding: 0;
    border: 0;
    border-top: 1px dotted #999;
    background-color: #fff;
}

.loginbox .fieldwrapper
{
    margin: 0 0 10px 10px;
    padding: 0;
    border: 0;
}
.loginbox .fieldwrapper label
{
    display: block;
    font-weight: bold;
    color: #666;
}

.loginbox .fieldwrapper input {
    width: 250px;
    margin: 2px 0;
    padding: 3px;
    border: 0;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    font: bold 12px arial, helvetica, verdana, sans-serif;
}

.loginbox .fieldwrapper input:focus
{
    border: 1px solid #06f;
    background-color: #fff;
}

.loginbox .regbutton
{
    cursor: pointer;
    padding: 4px 17px;
    margin: 0 0 10px 10px;
    color: #000;
    font-weight: normal;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left-color: #ccc;
    border-right-color: #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
    background: -moz-linear-gradient(top, #fff, #e6e6e6);
    font: bold 14px arial, helvetica, verdana, sans-serif !important;
    text-transform: uppercase;
}
.loginbox .regbutton:hover
{
    border: 1px solid #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background: -moz-linear-gradient(top, #fff, #ddd);
}
.loginbox .regbutton:active
{
    border: 1px solid #006666;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#669999));
    background: -moz-linear-gradient(top, #fff, #669999);
}

input.login-uni-form {
    font-weight: 200;
    color: #999;
    border: none;
    background: none;
    line-height: normal;
    float: right;
    margin-right: -14px;
    font-size: 11px;
}

/** password change **/
div.password-reset ul.errorlist {
    list-style-type: none;
    margin: 0;
    display: block;
    color: red;
    padding: 0;
    margin-bottom: 9px;    
}

div.password-change ul.errorlist {
    list-style-type: none;
    margin: 0;
    display: block;
    color: red;
    padding: 0;    
    margin-left: 50px;
}

div.password-reset input[type='text'],
div.password-change input[type='text'],
div.password-reset input[type='password'],
div.password-change input[type='password'] {
    display: block;
    width: 300px;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* NAV BAR NEAR TOP PAGE BANNER */

.navbar-logo {
    margin-left: -15px;
    color: #999;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand {
    padding: 5px 5px;
}

.navbar-brand img {
    height: 30px;
    width: auto;
}

.navbar-default {
    background-color: #fff !important;
    border: 1px solid #e7e7e7 !important;
}

.navbar-pl {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  height: 35px;
}

.navbar-pl .navbar-toggle {
  border: 0;
  color: #000;
}

.navbar-pl .navbar-toggle:hover {  
  border: 0;
}

.navbar-nav-pl {
  margin: 0;
  padding: 0;
  margin-top: .1em;
}

.navbar-nav-pl>li>a {
  font-weight: 200;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav-pl>li>a.btn-log-in {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0;
  font-weight: 500;
}

.navbar-nav-pl>li>a.btn-log-in:hover {
  color: #c33 !important;
}

li.logged-in-greeting {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}

li.logged-in-greeting span {
    color: #999;
}

li.logged-in-greeting a {
  margin: 0;
  padding: 0;
  display: inline;
}

li.logged-in-greeting a span div {
  white-space: nowrap !important;
}

/* footer */
footer {
  margin: 0 auto 0 auto;
  padding: 0;
  border: 0;
  text-align: center;
  margin-top: 150px;
}

footer a {
  margin: 0;
  border: 0;
  outline: 0;
}

footer img {
  margin: 20px 0 0 0;
  border: 0;
  outline: 0;
  width: 150px;
}

/* landing page */
.splash-page .jumbotron {
    background-color: #fff;
    border: 0;
}

/* facilitator dashboard */
div.demo .btn,
div.demo .progress {
    margin-left: 20px;
}

.facilitator-dashboard .progress {
    position: relative;
    height: 20px;
    margin-bottom: 0px;
    background-color: gray;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);    
}

.facilitator-dashboard .breadcrumb {
    margin-left: -20px;
    margin-right: -20px;
}

.facilitator-dashboard .bar {
    background-color: #5cb85c;
    height: 20px;
    color: white;
}

.facilitator-dashboard .progress span {
    position: absolute;
    top: 0px;
    z-index: 2;
    color: white;
    text-align: center;
    width: 100%;
}

.facilitator-dashboard .btn-print {
    margin-right: 3px;
}

.facilitator-dashboard .btn-archive {
    margin-left: 3px;
}

#notes-modal textarea.notes {
    height: 200px;
}

#notes-modal .alert-danger {
    margin-top: 25px;
    margin-bottom: 0px;
}

div.participant-sessions.recent ul.pagination {
    display: none;
}

div.participant-search-container {
    margin: 20px 0;
    float: left;
}

div.participant-search-container .help-block {
    color: #a94442;
}

/* participant navigation */

.content-carousel {
    display: table;
    margin-top: -5px;    
}

.content-carousel h3 {
    margin-top: 15px;
    margin-bottom: 8px;
}

.content-carousel-progress {
    height: 15px;
    border-radius: 0;
    margin-bottom: 0;
}

.content-carousel .col-sm-1 {
    display: table-cell;
    float: none;
    vertical-align: middle;
}
.content-carousel .col-sm-10 {
    display: table-cell;
    float: none;
}

.content-carousel .col-sm-1 {
    display: table-cell;
    float: none;
    vertical-align: middle;
    position: relative;
}

.content-carousel .col-sm-1 a:active,
.content-carousel .col-sm-1 a:focus,
.content-carousel .col-sm-1 a:active:focus { 
    outline: none;
    box-shadow: none;
}

.content-carousel .col-sm-1 a.disabled,
.content-carousel .col-sm-1 a.dimmed {
    color: #ddd;
}

.content-carousel .col-sm-1 a .glyphicon {
    font-size: 40px;
}

.content-carousel .col-sm-1.next .popover {
    width: 225px !important;
}

.content-carousel h3.popover-title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* participant pages */
.youtube-pageblock {
    text-align: center;
}

.youtube-pageblock iframe {
    width: 853px;
    height: 480px;
}
.video-complete-quiz {
    width: 853px;
    margin-top: -10px;
}
.topic-rating-quiz {
    width: 853px;
}

@media only screen
and (min-device-width: 768px) 
and (max-device-width: 1024px)
and (orientation: landscape) { 
    .youtube-pageblock iframe {
        width: 800px;
        height: 450px;
    }
    .video-complete-quiz,
    .topic-rating-quiz {
        width: 800px;
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)
and (orientation: portrait) { 
    .youtube-pageblock iframe {
        width: 550px;
        height: 309px;
    }
    .video-complete-quiz,
    .topic-rating-quiz {
        width: 550px;
    }
}

/* video complete quiz */
.video-complete-quiz .panel {
    margin-bottom: 0;
}

.video-complete-quiz .panel-heading {
    padding: 10px 5px 8px 5px;
}

.video-complete-quiz p {
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}

.video-complete-quiz input {
    font-size: 20px;
}

/* participant input -- topic_discussion */
div.pageblock.topic_discussion div.cases {
    margin-top: 50px;
}

div.pageblock.topic_discussion div.casequestion ol {
    list-style-type: none;
    padding-left: 2px;
}

div.pageblock.topic-discussion div.casequestionintrotext {
    display: none;
}

/** participant input -- topic-rating-quiz **/
.topic-rating-quiz .panel {
    margin-bottom: 0;
}

.topic-rating-quiz .panel-heading {
    padding: 10px 5px 8px 5px;
}

.topic-rating-quiz p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}

.topic-rating-quiz div.casequestion ol {
    list-style-type: none;
    padding-left: 2px;
    margin-bottom: 0px;
}

.topic-rating-quiz div.casequestion ol li {
    float: left; 
}

.topic-rating-quiz input[type=radio] {
    display: none;
}

.topic-rating-quiz input[type=radio] + label {
    display: inline-block;
    display:table-cell;
    vertical-align:middle;
    font-weight: normal;
    color: #333;
    margin-bottom: 0px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    width: 150px;
    height: 48px;
    margin-right: 10px;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

.topic-rating-quiz input[type=radio]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#e0e0e0;
}

/** participant input -- survey **/
div.pageblock.survey div.cases {
    margin-bottom: 30px;
}

/** topic rating summary **/
.quiz-summary ul {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}

.quiz-summary ul li {
    margin-bottom: 20px;
}

.casequestionintrotext {
    display: none;
}

.casequestion ol {
    display: inline-block;
}

/** Five column layout **/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    height: 400px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
