{% extends "base.html" %}
{% load bootstrap %}
{% load render %}
{% block title %}{{section.label}} (edit){% endblock %}
    
{% block extrahead %}
    <link href="{{STATIC_URL}}jquery/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <script src="{{STATIC_URL}}jquery/js/jquery-ui-1.10.4.min.js"></script>
    
    <style>
        #content { width: 96%; float: none; };
        .draghandle {float: left;}
        #children-order-list {list-style-type: none; margin: 0; padding: 0;}
        
        #children-order-list li span.glyphicon,
        div.block-dragger span.glyphicon {
            cursor: pointer;
        }
        
        #children li { margin: 0 3px 3px 3px; padding: 0.4em;
            padding-left: 1.5em; background-color: #ddd; }
        #children li span { position: absolute; margin-left: -1.3em; }
        .dragging {background-color: #fee;}
    </style>    
{% endblock %}

{% block bodyclass %}edit module-{{module.slug}}{% endblock %}

{% block bodyid %}section-{{section.id}}{% endblock %}
{% block projectbanner %}{% endblock %}

{% block primarynav %}
    <ul class="nav nav-pills">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Hierarchies <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/pages/en/edit/">English</a>
                </li>
                <li>
                    <a href="/pages/es/edit/">Spanish</a>
                </li>                    
            </ul>
          </li>
        <li class="pull-right"><a href="{{section.get_absolute_url}}">View Page</a></li>
    </ul>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var saveOrderOfChildren = function() {
            var url = "{% url 'reorder-section-children' section.id %}?";
            var worktodo = 0;
            jQuery("#children-order-list li").each(function(index,element) {
               worktodo = 1;
               var id = jQuery(element).attr('id').split("-")[1];
               url += "section_id_" + index + "=" + id + ";";
            });
            if (worktodo == 1) {
                var req = new XMLHttpRequest();
                req.open("POST",url,true);
                req.send(null);
            }
        };
        
        var saveOrderOfPageBlocks = function() {
            var url = "{% url 'reorder-pageblocks' section.id %}?";
            var worktodo = 0;
            jQuery("#edit-blocks-tab>div.block-dragger").each(function(index,element) {
              worktodo = 1;
              var id = jQuery(element).attr('id').split("-")[1];
              url += "pageblock_id_" + index + "=" + id + ";";
            });
            if (worktodo == 1) {
                /* only bother submitting if there are elements to be sorted */
                var req = new XMLHttpRequest();
                req.open("POST",url,true);
                req.send(null);
            }
        }
    
        jQuery(document).ready(function() {
            jQuery("#children-order-list").sortable({
                containment : 'parent',
                axis : 'y',
                tolerance: 'pointer',
                stop: function (event,ui) { saveOrderOfChildren();}
            });
            
            jQuery("#children-order-list").disableSelection();
            
            jQuery("#edit-blocks-tab").sortable({
                containment: 'parent',
                axis: 'y',
                tolerance: 'pointer',
                items : 'div.block-dragger',
                stop: function (event,ui) { saveOrderOfPageBlocks();}
              });
        
            jQuery("#edit-blocks-tab").disableSelection();
        });
    </script>
{% endblock %}

{% block content %}

{% with section.is_root as is_root %}

<h1><small>{{section.hierarchy.name}}</small> {{ section.label }}</h1>
<br /><br />
<ul class="nav nav-tabs">
    <li {% if is_root %}class="active"{% endif%}>
        <a href="#content-tree" data-toggle="tab">Hierarchy</a>
    </li>
    <li {% if not is_root %}class="active"{% endif%}>
        <a href="#edit-blocks-tab" data-toggle="tab">Edit Blocks</a>
    </li>
    <li><a href="#children-tab" data-toggle="tab">Children</a></li>
    <li><a href="#add-pageblock-tab" data-toggle="tab">Add Pageblock</a></li>
    <li><a href="#edit-page-tab" data-toggle="tab">Edit Section</a></li>
    <li><a href="#move-section-tab" data-toggle="tab">Move Section</a></li>
    <li><a href="#history-tab" data-toggle="tab">History</a></li>
</ul>
<br />
<div class="tab-content">
    <div id="content-tree" class="tab-pane {% if is_root %}active{% endif%}">
        <div style="margin-left: 5px;">
            <h3 style="margin-top: 0;"><a href="{{root.get_edit_url}}">{{root.hierarchy.name}}</a></h3>         
            <ul>
                {% for s in root.get_descendants %}
                    <li class="menu" style="list-style: none; line-height: 150%">
                        <a href="{{s.get_edit_url}}">
                            {{s.label}}{% ifequal s last_location %} <i class="icon-hand-left"></i>{% endifequal %}
                        </a>            
                        {% if s.get_children %}
                            <ul>
                        {% else %}
                            </li>                    
                            {% if s.is_last_child %}
                                {% for lc in s.closing_children %}
                                    {% if lc.depth > 2 %}</ul></li>{% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                {% endfor %}
             </ul>
         </div>        
    </div>        

    <div id="edit-blocks-tab" class="tab-pane {% if not is_root %}active{% endif%}">
        {% if section.pageblock_set.count %}
            <p>Drag the <span class="glyphicon glyphicon-resize-vertical"></span> arrows to reorder pageblocks:</p>
    
            {% for block in section.pageblock_set.all %}
                <div class="row block-dragger {% cycle 'odd' 'even' %}" id="pageblock-{{block.id}}">    
                    <div class="col-md-1 draghandle">
                        <span class="glyphicon glyphicon-resize-vertical"></span>
                    </div>
                
                    <div class="col-md-3">
                        <b><a data-toggle="modal" href="#edit-pageblock-{{block.id}}">{{block.block.display_name}}</a></b>
                    </div>
                
                    <div class="col-md-5">
                        <a data-toggle="modal" href="#edit-pageblock-{{block.id}}">{{block.label}}</a>
                        {% rendersummary block %}
                    </div>
                
                    <div class="col-md-3">
                        <div class="btn-group" style="float: right">
                            <a data-toggle="modal" class="btn btn-mini"
                             href="#" 
                             data-target="#edit-pageblock-{{block.id}}">
                            <i class="icon-edit"></i>
                            edit</a>
                
                        <a href="{% url 'delete-pageblock' block.id %}" class="btn
                        btn-danger btn-mini"><i class="icon-trash icon-white"></i> delete</a>
                
                        {% if block.block.exportable %}
                        <a class="btn btn-mini"
                             rel="tooltip" title="Download JSON dump of this block"
                             id="export-{{block.id}}"
                             href="{% url 'export-pageblock-json' block.id %}"><i class="icon-download"></i> export</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
    
            {% for block in section.pageblock_set.all %}
                <div class="modal block-edit" id="edit-pageblock-{{block.id}}">
                <div class="modal-dialog"><div class="modal-content">            
                    <form action="{% url 'edit-pageblock' block.id %}" method="post" class=""
                     {% if block.edit_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">x</button>
                            <h3>Edit {{block.block.display_name}}</h3>
                        </div>
                        <div class="modal-body">
                            {% if block.block.importable %}
                            <a href="{% url 'import-pageblock-json' block.id %}">import json</a>
                            {% endif %}
                            
                            {{ block.default_edit_form|bootstrap }}
                            {% with block.edit_form as ef %}
                            {{ ef|bootstrap }}
                            {% if ef.alt_text %}
                            <div>{{ ef.alt_text|safe }}</div>
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div></div></div>
            {% endfor %}
        {% else %}
            <div class="alert">
                <strong>Warning!</strong> There are no children or pageblocks on this page. You should add some.
            </div>
        {% endif %}
    </div>

<div id="children-tab" class="tab-pane">
<h2>Reorder Children</h2>
<div class="well">
<p>Drag and drop <span class="glyphicon glyphicon-resize-vertical"></span> arrows to reorder children</p>
{% with section.get_children as section_children %}
    {% if section_children|length > 0 %}
        <ul id="children-order-list">
            {% for child in section_children %}
                <li class="draggable" id="child-{{child.id}}">
                    <span  title="drag to reorder children" class="glyphicon glyphicon-resize-vertical"></span>
                    <a href="{{child.get_edit_url}}">{{child.label}}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</div>

    <h2>Add Child</h2>
    <form action="{% url 'add-child-section' section.id %}" method="post"
     class="well form-inline">{% csrf_token %}
        {{ section.add_child_section_form|bootstrap }}
        <input type="submit" value="add child section" class="btn btn-primary" />
    </form>
</div>


<div id="add-pageblock-tab" class="tab-pane">
    <ul>
        {% for blocktype in section.available_pageblocks %}
            <li>
                <a data-toggle="modal"
                   data-target="#add-block-{{forloop.counter}}"
                   href="#">
                      Add {{blocktype.display_name}}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% for blocktype in section.available_pageblocks %}
        {% if blocktype %}
            <div class="modal" id="add-block-{{forloop.counter}}">
            <div class="modal-dialog"><div class="modal-content">
                <form action="{% url 'add-pageblock' section.id %}"
                    {% if blocktype.add_form.is_multipart %}
                    enctype="multipart/form-data"
                    {% endif %}
                    method="post">{% csrf_token %}

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Add {{blocktype.display_name}}</h3>
                </div>
                
                <div class="modal-body">
                    <fieldset>
                        <input type="hidden" name="blocktype" value="{{blocktype.display_name}}"/>
                        {{section.add_pageblock_form|bootstrap}}
                        {{blocktype.add_form|bootstrap}}
                    </fieldset>
                </div>
                
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                    <input type="submit" value="add {{blocktype.display_name}}" 
                        class="btn btn-primary" />
                </div>
                </form>
            </div></div></div>
        {% endif %}
    {% endfor %}
</div>

<div id="edit-page-tab" class="tab-pane">

<form action="{% url 'edit-section' section.id %}" method="post"
            class="form-horizontal well">{% csrf_token %}
<fieldset><h2>Edit Section</h2>

{{ section.edit_form|bootstrap }}

<input type="submit" value="save" class="btn btn-primary" />
</fieldset>
</form>


<form action="{% url 'delete-section' section.id %}" method="post" class="well">
{% csrf_token %}
<input type="submit" value="delete this page" class="btn btn-danger"/>
</form>

</div>

<div id="move-section-tab" class="tab-pane">
    <form action="{% url 'move-section' section.id %}" method="post">{% csrf_token %}        
        <fieldset>
            <h2>Move "{{section.label}}" Section To...</h2>
            {{ section.move_form.as_p }}
            <input value="Move" class="default" name="_move" type="submit" />
        </fieldset>
    </form>
</div>


<div id="history-tab" class="tab-pane">

{% if section.version_set.count %}
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>Saved At</th>
            <th>User</th>
            <th>Activity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for version in section.version_set.all %}
            <tr>
                    <td>{{version.saved_at}}</td>
                    <td>{{version.user}}</td>
                    <td>{{version.activity}}</td>
                    <td><a href="{% url 'revert-to-version' version.id %}" class="btn
                    btn-mini btn-warning"><i class="icon-repeat"></i> revert</a></td>
                </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
</div>

{% endwith %}
{% endblock %}

{% block content-nav %}
    <br />
    <ul class="pager">
        {% with previous=section.get_previous next_section=section.get_next %}
        {% if not section.is_root %}
            {% if previous %}
                <li class="previous">
                    <a href="{{previous.get_edit_url}}">&larr; {{previous.label}}</a>
                </li>
            {% endif %}
        {% endif %}
        
        {% if next_section %}
            <li class="next"><a href="{{next_section.get_edit_url}}">{{next_section.label}} &rarr;</a></li>
        {% endif %}
    </ul>
{% endwith %}

{% endblock %}

{% block footer %}{% endblock %}