{% extends 'base.html' %}

{% load render accessible i18n %}

{% block js %}
    <script src="{{STATIC_URL}}js/app/participant.js"></script>
    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}
    <script type="text/javascript"> 
        jQuery(document).ready(function() {
            var view = new ParticipantPageView({
                el: jQuery("body")[0],
                participant_id: {{request.user.id}},
                section_id: {{section.id}}
            });
        });
    </script>
{% endblock %}

{% block css %}
    {% for block in section.pageblock_set.all %}
        {% rendercss block %}
    {% endfor %}
{% endblock %}

{% block bodyclass %}module-{{module.slug}}{% endblock %}

{% block bodyid %}section-{{section.id}}{% endblock %}

{% block title %}{{section.label}}{% endblock %}

{% block usernav %}

    {% language request.user.profile.language %}
    
        {% if request.user.profile.is_participant %}
		<li class="pause-session">
                <a class="btn btn-default btn-lg" href="/participant/pause/">
                    {# Translators: Navbar command to pause the experience #}
                    {% trans "Pause" %}
                </a>
                
            </li>
        {% endif %}
        
		<li class="language">
		
			<form id="participant-language-form" action="/participant/language/" method="post">            
                {% if request.user.profile.language == 'en' %}
                    <input type="hidden" name="language" value="es" />
                {% else %}
                    <input type="hidden" name="language" value="en" />
                {% endif %}
            </form> 
            
            <a class="btn btn-default btn-lg" data-toggle="modal" data-target="#change-language-modal">
                {% if request.user.profile.language == 'en' %}
                    {# Translators: Navbar "Switch to Spanish" link #}
                    {% trans "Espa&ntilde;ol" %}
                {% else %}
                    {# Translators: Navbar "Switch to English" link #}
                    {% trans "English" %}
                {% endif %}
            </a>
            
        </li>
    {% endlanguage %}
{% endblock %}

{% block primarynav %}
    <ul id="contentnav" class="nav nav-pills nav-justified">
        {% for module in modules %}
            {% ifequal section.get_module module %}
                <li class="active">
            {% else %}{% ifaccessible module %}
                <li>
            {% else %}
                <li class="disabled">
            {% endifaccessible %}{% endifequal %}
                <a href="{{module.get_absolute_url}}">{{module.label}}</a>
            </li>
        {% endfor %}
          
        {% if not request.user.profile.is_participant %}
            <li class="pull-right">
                <a href="/participant/clear/">Clear State</a>
            </li>
            {% if request.user.is_superuser %}      
                <li class="pull-right">
                    <a href="{{section.get_edit_url}}">Edit Page</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <form action="." method="post" id="submit-page">
        <div class="row">
            <div class="{% if section.show_toc %}col-md-10{% else %}col-md-12{% endif %}">
                <br /><br />
            
                <div id="content">
                    {% for block in section.pageblock_set.all %}
                        <div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
                            {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
                            {% render block %}
                        </div>
                    {% endfor %}
                </div>
                
                <!-- Confirm Language Switch -->
                {% language request.user.profile.language %}
                <div class="modal" id="change-language-modal" tabindex="-1" role="dialog" aria-labelledby="Confirm Language Switch" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                {# Translators: Confirm Language Modal Header #}
                                <h4 class="modal-title">{% trans "Switch Language" %}</h4>
                            </div>
                            <div class="modal-body">
                                {# Translators: Confirm Language Modal Header #}
                                {% trans "Are you sure?" %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
                                <button type="button" class="btn btn-primary change-language">{% trans "Yes" %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Pause Session -->
                <div class="modal pause-session-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                {# Translators: Tutorial Paused Modal Header #}
                                <h3>{% trans "Tutorial Paused" %}</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-toggle="modal"
                                    data-target="#login-modal" data-dismiss="modal">
                                        {# Translators: Tutorial Paused Facilitator Login button #}
                                        {% trans "Facilitator" %}
                                 </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    {# Translators: Tutorial Paused Facilitator Resume button #}
                                    {% trans "Resume" %}
                                </button>          
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- End Session -->
                <div class="modal end-session-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                {# Translators: Tutorial Complete Modal Header #}
                                {% trans "Thank You!" %}
                            </div>
                            <div class="modal-body text-center">
                                {# Translators: Tutorial Complete Modal Text #}
                                {% blocktrans %}
                                    You're done! <br />Please return the device to the facilitator.
                                {% endblocktrans %}
                            </div>
                            <div class="modal-footer">
                                {% if request.user.profile.is_participant %}
                                    <button type="button" class="btn btn-default" data-toggle="modal"
                                        data-target="#login-modal" data-dismiss="modal">
                                            {# Translators: Tutorial Complete Facilitator Log in Button #}
                                            {% trans "Facilitator" %}
                                     </button>
                                {% else %}
                                    <a href="/" class="btn btn-default">Facilitator Dashboard</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endlanguage %}
            </div>
    
            {% if section.show_toc %}
                <div class="col-md-2 table-of-contents">
                    <!--
                    <h5>
                        {{module.label}}
                    </h5>
				-->
				
                    <ul class="toc list-group">
                    
                        {% for child in module.get_children %}
                        
						
                            
						{% ifequal child section %}
						
						{% ifequal child section %}
						<li class="list-group-item active">
						{% endifequal %}
						<a href="{{child.get_absolute_url}}">{{child.label}}</a>
						{% else %}
						{% ifaccessible child %}
						<li class="list-group-item">
						<a href="{{child.get_absolute_url}}">{{child.label}}</a>
						{% else %}
						<li class="list-group-item">
						<a href="{{child.get_absolute_url}}" disabled="disabled">{{child.label}}</a>                   
						{% endifaccessible %}
						
						{% endifequal %}
                            
                            </li>
                            
                        {% endfor %}
                        
                    </ul>
                    
                </div>
            {% endif %}
        </div>
        
        {% with previous=section.get_previous next_section=section.get_next %}
        <div class="row">
            <div class="col-md-12">
                <ul class="pager">
                    {% if previous %}
                        <li class="previous">
                            <a href="{{previous.get_absolute_url}}" class="btn btn-previous">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                        </li>
                    {% endif %}
                    
                    {% ifequal next_section.hierarchy section.hierarchy %}
                        <input type="hidden" name="next-section" value="{{next_section.get_absolute_url}}" />
                    {% endifequal %}
                    
                    <div id="working" class="pull-right" style="display: none"></div>
                    
                    {% if allow_redo or not is_submitted %}
                        <li class="next">
                            <button id="submit-page-button" type="submit" class="btn btn-next pull-right">
                                <span class="glyphicon glyphicon-chevron-right">
                            </button>
                            <span style="display: none" class="error-inline alert alert-danger">
                                {# Translators: General error message #}
                                {% trans "An error occurred. Please see your facilitator." %}
                            </span>           
                        </li>
                    {% else %}
                        <li class="next">
                            <a id="next-page-button" href="#" class="btn btn-next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endwith %}    
    </form>
{% endblock %}

{% block content-nav %}{% endblock %}

{% block footer %}{% endblock %}
