{% extends 'base.html' %}

{% load render accessible i18n %}

{% block js %}
    <script src="{{STATIC_URL}}js/app/participant.js"></script>
    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}
    <script type="text/javascript"> 
        jQuery(document).ready(function() {
            var view = new ParticipantPageView({
                el: jQuery('body')[0],
                participant_id: {{request.user.id}}
            });
        });
    </script>
{% endblock %}

{% block css %}
    {% for block in section.pageblock_set.all %}
        {% rendercss block %}
    {% endfor %}
{% endblock %}

{% block bodyclass %}module-{{module.slug}}{% endblock %}

{% block bodyid %}section-{{section.id}}{% endblock %}

{% block title %}{{section.label}}{% endblock %}

{% block usernav %}
    {% language request.user.profile.language %}
        {% if request.user.is_superuser %}
            <li>
                <a href="{{section.get_edit_url}}">Edit Page</a>
            </li>
        {% endif %}

        {% if request.user.profile.is_participant %}    
            <li>
                <a class="pause-session" href="/participant/pause/">
                    {# Translators: Navbar command to pause the experience #}
                    {% trans "Pause" %}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="#" data-toggle="modal" data-target="#change-language-modal">
                {% if request.user.profile.language == 'en' %}
                    Espa&ntilde;ol
                {% else %}
                    English
                {% endif %}
            </a>
        </li>
    {% endlanguage %}
{% endblock %}

{% block content %}
    {% with percent_complete=user.profile.percent_complete %}
    <div class="row">
        <div class="content-carousel-progress progress">
            <div class="progress-bar progress-bar-striped" role="progressbar"
             aria-valuenow="{{percent_complete}}"
             aria-valuemin="0" aria-valuemax="100"
             style="width: {{percent_complete}}%">
            <span class="sr-only">{{percent_complete}}% Complete</span>
            </div>
        </div>
    </div>
    {% endwith %}

    {% with previous_section=section.get_previous %}
    {% with next_section=section.get_next %}
    <div class="content-carousel row">
        <div class="col-sm-1 previous">
            {% if previous_section %}
                <a href="{{previous_section.get_absolute_url}}" class="btn"
                 data-spy="affix">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </a>
            {% endif %}
        </div>
        <div class="col-sm-10">
            <form action="." method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div id="content">
                            {% for block in section.pageblock_set.all %}
                                <div class="pageblock
                                 {% if block.css_extra %}
                                    {{block.css_extra}}
                                 {% endif %}">
                                    {% if block.label %}
                                        <h3>{{block.label}}</h3>
                                     {% endif %}
                                    {% render block %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-1 next">
            {% language request.user.profile.language %}
            {% if not next_section or next_section.is_root %}
                <a href="#" role="button" data-toggle="modal"
                    data-target="#end-session-modal"
                    data-backdrop="static"
                    data-keyboard="false"
            {% else %}
                <a href="{{next_section.get_absolute_url}}"
            {% endif %}
                    data-trigger="manual" data-placement="left"
                    data-title="{% trans 'Oops!' %}"
                    data-content="{% trans 'Please answer all questions before you move on.' %}"
                    data-spy="affix"
                    class="btn {% if needs_submit and not is_submitted %}dimmed{% endif %}">
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
            {% endlanguage %}
        </div>
    </div>
    {% endwith %}{% endwith %}
    
    <!-- Confirm Language Switch -->
    {% language request.user.profile.language %}
    <div class="modal" id="change-language-modal" tabindex="-1" role="dialog"
        aria-labelledby="Confirm Language Switch" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                     aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Switch Language / Cambiar Idioma</h4>
                </div>
                <div class="modal-body">
                    Are you sure? / &iquest;Est&aacute;s seguro?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        No
                    </button>
                    <button type="button" class="btn btn-primary change-language">
                        Yes / S&iacute;
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Pause Session -->
    <div class="modal pause-session-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    {# Translators: Tutorial Paused Modal Header #}
                    <h3>{% trans "Tutorial Paused" %}</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#login-modal" data-dismiss="modal">
                            {# Translators: Tutorial Paused Facilitator Login button #}
                            {% trans "Facilitator" %}
                     </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {# Translators: Tutorial Paused Facilitator Resume button #}
                        {% trans "Resume" %}
                    </button>          
                </div>
            </div>
        </div>
    </div>

    <!-- End Session -->
    <div class="modal" id="end-session-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    {# Translators: Tutorial Complete Modal Header #}
                    <h3>{% trans "Activity Complete" %}</h3>
                    
                    {# Translators: Tutorial Complete Modal Text #}
                    {% blocktrans trimmed %}
                        Please return the device to the facilitator.
                    {% endblocktrans %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#login-modal" data-dismiss="modal">
                            {# Translators: Tutorial Complete Facilitator Log in Button #}
                            {% trans "Facilitator" %}
                     </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {# Translators: Tutorial Paused Facilitator Resume button #}
                        {% trans "Resume" %}
                    </button>                                  
                </div>
            </div>
        </div>
    </div>
    {% endlanguage %}
    
    <!--  change language -->
    <form id="participant-language-form" action="/participant/language/" method="post">
        {% csrf_token %}           
        {% if request.user.profile.language == 'en' %}
            <input type="hidden" name="language" value="es" />
        {% else %}
            <input type="hidden" name="language" value="en" />
        {% endif %}
    </form> 
    
{% endblock %}

{% block content-nav %}{% endblock %}

{% block footer %}{% endblock %}
