{% load compress %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Meaningful Consent: {% block title %}{% endblock %}</title>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="Precision in Pediatric Sequencing">
        <meta name="author" content="CCNMTL">
      
        <!-- Bootstrap CSS: -->
        <link href="{{STATIC_URL}}bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">

        {% compress css %}
        <!-- Application CSS: -->
        <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
        {% endcompress %}

        {% block css %}{% endblock %}
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" /> 
      
        <script src="{{STATIC_URL}}jquery/js/jquery-1.10.1.min.js"></script>
        <script src="{{STATIC_URL}}js/holder/holder.js"></script>
        
        {% block extrahead %}{% endblock %}
        {% block feeds %}{% endblock %}
    </head>
    
    <body class="{% block bodyclass %}{% endblock %}" id="{% block bodyid %}{% endblock %}">
    
    {% block topnavbar %}
    <nav class="navbar navbar-default navbar-fixed-top navbar-pl">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#user-nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if request.user.is_anonymous or not request.user.profile.is_participant %}
                    <a class="navbar-brand" href="/" title="Meaningful Consent">
                        <img class="img-responsive"
                         style="display: inline-block;"
                         src="{{STATIC_URL}}img/logo_meaningfulconsent.png"
                         alt="Meaningful Consent" />
                    </a>
                {% else %}
                    <span class="navbar-brand">
                        <img class="img-responsive"
                         style="display: inline-block;"
                         src="{{STATIC_URL}}img/logo_meaningfulconsent.png"
                         alt="Meaningful Consent" />
                    </span>
                {% endif %}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="user-nav-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% block usernav %}
                    {% if request.user.is_anonymous %}
                        <li><a href="/about/">About</a></li>
                        <li><a href="/credits/">Credits</a></li>
                        <li><a href="/contact/">Contact</a></li>
                        <li><a href="/help/">Help</a></li>
                        <li>
                            <a href="#" data-toggle="modal"
                             data-target="#login-modal">Log In</a>
                        </li>
                    {% else %}{% if not request.user.profile.is_participant %}
                        {% if user.has_usable_password %}
                            <li>
                                <a href="/accounts/password_change/">
                                    Change Password
                                </a>
                            </li>
                        {% endif %}
                        {% if user.is_superuser %}
                            {% block pagemode %}{% endblock %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                 data-toggle="dropdown">
                                    Content <b class="caret"></b>
                                </a>
                                
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/pages/en/edit/">
                                            English
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/pages/es/edit/">
                                            Spanish
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        <li><a href="/about/">About</a></li>
                        <li><a href="/credits/">Credits</a></li>
                        <li><a href="/contact/">Contact</a></li>
                        <li><a href="/help/">Help</a></li>
                        <li>
                            <a href="/accounts/logout/?next=/">
                                <span title="Log Out">Log Out</span>
                            </a>
                        </li>
                    {% endif %}{% endif %}
                    {% endblock %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>    
    {% endblock %}

    <div class="container-fluid">
        <div class="content">
            <div class="row">
              <div class="col-md-12">
                 {% block content %}
                 {% endblock %}
              </div>
           </div> <!-- /.row -->
        </div> <!-- /.content -->
    </div> <!-- /.container-pl -->
    
    {% if request.user.is_anonymous or request.user.profile.is_participant %}
    <!-- Login Modal -->
    <div class="modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="loginLabel">Facilitators</h4>
              </div><!-- /.modal-header -->
                
                <div class="modal-body">
                    
                    <form id="login-local" name="login_local" method="post" action="/accounts/login/" class="form-horizontal" role="form">
                        {% csrf_token %}
                        <div class="login-local-form">
                        
                            <div class="local-login-errors alert alert-danger" style="display: none;">
                           <span><b>Invalid username or password.</b></span>
                           Please try again. Note that both username and password are case-sensitive.
                        </div>
                    
                            <div class="form-group">
                         <label for="id_username" class="col-sm-4 control-label">User Name</label>
                         <div class="col-sm-8">
                           {{ login_form.username }}
                         </div>
                        </div>
                    
                            <div class="form-group">
                         <label for="id_password" class="col-sm-4 control-label">Password</label>
                         <div class="col-sm-8">
                           {{ login_form.password }}
                         </div>
                        </div>
                        
                            <div class="form-group">
                         <div class="col-sm-offset-4 col-sm-8">
                           <input class="btn btn-primary login-local-form" type="submit" value="Log In"  />                        
                           <input type="hidden" name="next" value="/" />
                         </div>
                        </div>
                        </div><!--/ .login-local-form -->
                    </form>
    
                 {% if request.user.is_anonymous %}
                    <div class="pull-right">
                        <a href="/accounts/password_reset/">Forgot Password?</a>
                    </div>
                    <div style="clear: both"></div>
                 {% endif %}
                 {% if CAS_BASE %}
                    <form method="get" action="{{ CAS_BASE }}cas/login" style="float: right">
                        <input type="hidden" name="destination"
                        value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/caslogin/?next=/" />
                        <input class="btn btn-default btn-small login-uni-form"
                            type="submit"
                            value="Columbia University Network ID (UNI)" />
                        <div style="clear: both;"></div>
                    </form>
                    <div style="clear: both"></div>
                 {% endif %}<!-- CAS -->
            </div><!-- /.modal-body -->
           </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}<!-- request.user.is_anonymous -->
    
    {% block footer %}
        <footer class="footer">
            <p>Footer Information</p>
            <!--<a href="http://ccnmtl.columbia.edu" target="_blank" title="Columbia Center for New Media Teaching and Learning"><img src="{{STATIC_URL}}img/logo_ccnmtl.png" /></a>-->
        </footer>
    {% endblock %}
    
    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}js/backbone-min.js"></script>
    <script src="{{STATIC_URL}}bootstrap-3.3.5/js/bootstrap.min.js"></script>
    
    {% if request.user.is_anonymous or request.user.profile.is_participant %}
        <script src="{{STATIC_URL}}js/app/login.js"></script>
    
        <script type="text/javascript"> 
           jQuery(document).ready(function() {
              var loginView = new LocalLoginView({
                 el: jQuery("div#login-modal") 
              });
           });
        </script>
    {% endif %}
    
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        jQuery(document).ready(function() {
            // setup some ajax progress indicator
            jQuery("html").bind("ajaxStart", function() {  
                jQuery(this).addClass("busy");
            }).bind("ajaxStop", function() {  
                jQuery(this).removeClass("busy");
            });

            var csrftoken = getCookie('csrftoken');           
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            jQuery.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
    </script>
    
    
    {% block js %}{% endblock %}
    
    {% if STAGING_ENV %}
        <div class="alert alert-danger alert-dismissable" style="position: fixed; bottom: 0px;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>Warning: Staging Site</h4>
        <p>You are viewing a staging version of this site, not the production site.</p>
        <p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
        </div>
    {% endif %}
    
    {% if request.user.is_impersonate %}
    <div class="alert alert-danger alert-dismissable" style="position: fixed; left: 0px; top: 75px">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    You are impersonating.<br />
    <a class="btn" href="{% url 'impersonate-stop' %}">stop</a>
    </div>
    {% endif %}
    
    {% if GA_CODE %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', '{{GA_CODE}}', 'columbia.edu');
      ga('send', 'pageview');
    </script>
    {% endif %}
    
    </body>

</html>