{% extends 'base.html' %}

{% block extrahead %}
    {% include "main/participant_sessions.html" %}
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}js/backbone-min.js"></script>
    <script src="{{STATIC_URL}}js/app/facilitator.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var facilitatorView = new FacilitatorView({
                el: jQuery("div.facilitator-dashboard")[0],
                el_sessions: jQuery("div.participant-sessions")[0],
                max_sessions: 5
            });
            
            // setup some ajax progress indicator
            jQuery("html").bind("ajaxStart", function(){  
               jQuery(this).addClass("busy");
            }).bind("ajaxStop", function(){  
               jQuery(this).removeClass("busy");
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="facilitator-dashboard">

    <ul class="breadcrumb">
        <li>{{user.get_short_name}}'s Dashboard</li>
    </ul>
    
    <h1>Hi {{user.get_short_name}}!</h1>
    
    <p class="lead">
    Instructions: Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    </p>
    
    <hr style="margin-bottom: 50px;" />
    
    <div class="administration">
    
        <h2 class="text-center">Participant Administration</h2>
        
        <h5 class="text-center">Create and manage tutorials.</h5>
        
        <div class="clearfix"></div>
        
        <div class="modal create-participant-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                
                    <div class="modal-body text-center">
                    <div class="alert alert-info">
                    <b>Record</b> the participant id now!
                    </div>
                    <h3>New Participant ID: &nbsp;<span class="participant-id"></span></h3>
                    </div>
                    
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-verify-record">I have recorded the Participant ID</button>
                    </div>
                    
                    <div class="modal-footer" style="display: none">
                        <form action="/participant/login/" method="post">
                            {% csrf_token %}
                            <input class="participant-id" type="hidden" name="username" />
                            <button type="submit" class="btn btn-primary btn-launch-session">Launch Session</button>
                        </form>
                    </div>
                
                </div>
            </div>
       </div>            
    
        <div class="participant-sessions recent"></div>
    
        <div class="text-center">
        
            <button class="btn btn-primary create-participant">
                <span class="glyphicon glyphicon-plus"></span> Add a New Participant
            </button>    
            
            {% if participants|length > 0 %}
            <a class="btn btn-primary" href="/participants/manage/">
                <span class="glyphicon glyphicon-search"></span> Review All Sessions
            </a>
            {% endif %}
        
            <a class="btn btn-primary" href="/participants/report/">
                <span class="glyphicon glyphicon-file"></span> Download Reports
            </a>
        
        </div>
        
        <div class="clearfix"></div>
        
    </div>
    
    <hr style="margin-bottom: 50px;" />
    
    <div>
        <h2 class="text-center">Demonstration Mode</h2>
        
        <h5 class="text-center">Demo mode allows you to complete the tutorial from a participant's point of view</h5>

        <div class="clearfix"></div>
        
        <div class="text-center">
        
            <a class="btn btn-primary" href='/participant/clear/'><span class="glyphicon glyphicon-home"></span> Start Demonstration</a>
            
            {% if user.profile.percent_complete > 0 %}
                <a class="btn btn-primary" href='{{user.profile.last_location.get_absolute_url}}'><span class="glyphicon glyphicon-repeat"></span> Resume Demonstration</a>
            {% endif %}
            
            <a href="/participant/print/?username={{user.username}}" class="btn btn-primary btn-print"><span class="glyphicon glyphicon-print"></span> Print Demonstration</a>
        </div>
    </div>
</div>
{% endblock %}

