{% extends 'base.html' %}

{% block extrahead %}
    {% include "main/participant_sessions.html" %}
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}js/backbone-min.js"></script>
    <script src="{{STATIC_URL}}js/app/facilitator.js"></script>
    
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var facilitatorView = new FacilitatorView({
                el: jQuery("div.facilitator-dashboard")[0],
                el_sessions: jQuery("div.participant-sessions")[0],
                max_sessions: 5
            });
            
            // setup some ajax progress indicator
            jQuery("html").bind("ajaxStart", function(){  
               jQuery(this).addClass("busy");
            }).bind("ajaxStop", function(){  
               jQuery(this).removeClass("busy");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="facilitator-dashboard">

        <ul class="breadcrumb">
            <li>{{user.get_short_name}}'s Dashboard</li>
        </ul>

        <h1>Hi {{user.get_short_name}}!</h1>
        
        <p class="lead">
        Instructions: Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>

    
        <h2>Tutorial</h2>
    
        <div>
            <button class="btn btn-primary create-participant">
                Create Participant
            </button>
            
            <div class="modal create-participant-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <div class="alert alert-info">
                                <b>Record</b> the participant id now!
                            </div>
                            <h3>New Participant ID: &nbsp;<span class="participant-id"></span></h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-verify-record">I have recorded the Participant ID</button>
                        </div>
                        <div class="modal-footer" style="display: none">
                            <form action="/participant/login/" method="post">
                                <input class="participant-id" type="hidden" name="username" />
                                <button type="submit" class="btn btn-primary btn-launch-session">Launch Session</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    
        <div class="administration" style="display: none">
            <br /><br />            
            <h2>Administration</h2>
            <p>Tellus ac cursus commodo, tortor mauris condimentum nibh, ut 
            fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum.</p>
            
            <div>            
            <h3 class="pull-left">Recent Sessions</h3>
            <button class="btn btn-primary download-reports pull-right">
                Download Reports
            </button>    
            </div>
            
            <div>
                <div class="participant-sessions recent"></div>
                <a class="btn btn-primary pull-right" href="/participants/manage/">
                    All Sessions
                </a>
            </div>
        </div>
        
        <br />
        <h2>Demo</h2>
        <p>Demo mode allows you to complete the tutorial from a participant's point of view</p>
        <div class="demo">
            <a class="btn btn-primary btn-sm pull-left" href='/participant/clear/'>Start Demo</a>

            {% if user.profile.percent_complete > 0 %}
                <a class="btn btn-default btn-sm  pull-left" href='{{user.profile.last_location.get_absolute_url}}'>
                    <span class="glyphicon glyphicon-repeat"></span> Resume Demo
                </a>
            {% endif %}

            <a href="/participant/print/?username={{user.username}}"
             class="btn btn-default btn-sm btn-print pull-left">
                <span class="glyphicon glyphicon-print"></span> Demo Print
            </a>
        </div>
    </div>
    <br /><br />
{% endblock %}

