{% extends 'base.html' %}

{% block css %}
    <link href="{{STATIC_URL}}css/tablesorter.css" rel="stylesheet" />
{% endblock %}

{% block extrahead %}
    {% include "main/participant_sessions.html" %}
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}js/backbone-min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.tablesorter.js"></script>
    <script src="{{STATIC_URL}}js/app/facilitator.js"></script>
    
    <script type="text/javascript">
        jQuery(document).ready(function(){
            var facilitatorView = new FacilitatorView({
                el: jQuery("div.facilitator-dashboard")[0],
                el_sessions: jQuery("div.participant-sessions")[0],
                max_sessions: 5
            });
            
            // setup some ajax progress indicator
            jQuery("html").bind("ajaxStart", function(){  
               jQuery(this).addClass("busy");
            }).bind("ajaxStop", function(){  
               jQuery(this).removeClass("busy");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="facilitator-dashboard">

        <ul class="breadcrumb">
            <li>{{user.get_short_name}}'s Dashboard</li>
        </ul>

        <div>
            <h1 class="pull-left">Hi {{user.get_short_name}}!</h1>
            {% if user.is_superuser %}
                <div class="pull-right">
                    <h4>Manage Content</h4>
                    <ul class="nav nav-pills">
                      <li><a href="/pages/en/edit/">English</a></li>
                      <li><a href="/pages/es/edit/">Spanish</a></li>
                    </ul>
                </div>
            {% endif %}
            <div style="clear: both"></div>
        </div>

        <p class="lead">
        Instructions: Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>

    
        <h2>Tutorial</h2>
    
        <div>
            <button class="btn btn-primary create-participant">
                Create Participant
            </button>
            
            <div class="modal create-participant-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <div class="alert alert-info">
                                <b>Record</b> the participant id now!
                            </div>
                            <h3>New Participant ID: &nbsp;<span class="participant-id"></span></h3>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-verify-record">I have recorded the Participant ID</button>
                        </div>
                        <div class="modal-footer" style="display: none">
                            <form action="/participant/login/" method="post">
                                <input class="participant-id" type="hidden" name="username" />
                                <button type="submit" class="btn btn-primary btn-launch-session">Launch Session</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

        <br />
        <div>
            {% if user.profile.percent_complete > 0 %}
                <button id="launch-demo-popover" type="button" class="btn btn-primary" data-container="body"
                    data-toggle="popover"
                    data-html="true"
                    data-placement="right"
                    data-content="<h5><a href='/participant/clear/'>New Session</a><h5>
                                  <h5><a href='{{user.profile.last_location.get_absolute_url}}'>Existing Session</a></h5>">
                  Launch Demo
                </button>
            {% else %}
                <a href="{{user.profile.last_location.get_absolute_url}}" class="btn btn-primary">Launch Demo</a>            
            {% endif %}
        </div>
    
        <br />
        <div class="administration" style="display: none">
            <h2>Administration</h2>
            <p>Tellus ac cursus commodo, tortor mauris condimentum nibh, ut 
            fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum.</p>
            
            <div>
                <button class="btn btn-primary download-reports">
                    Download Reports
                </button>    
            </div>
        
            
            <h3>Recent Sessions</h3>
            <div>
                <div class="participant-sessions"></div>
                <a class="btn btn-primary pull-right" href="/participants/manage/">
                    All Sessions
                </a>
            </div>
        </div>
    </div>
{% endblock %}

