{% extends 'base.html' %}

{% block css %}
    <link href="{{STATIC_URL}}css/tablesorter.css" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}js/backbone-min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.tablesorter.js"></script>
    
    {% if not user.is_anonymous and not user.profile.is_participant %}    
        <script src="{{STATIC_URL}}js/app/facilitator.js"></script>
    {% endif %}    

    <script type="text/javascript">
        jQuery(document).ready(function(){
            {% if not user.is_anonymous and not user.profile.is_participant %}
                jQuery("#sessions").tablesorter({
                    sortList: [[2,1]],
                    dateFormat:'mm/dd/yyyy hh:mm:ss tt'
                 });
            
                var participantView = new FacilitatorView({
                    el: jQuery(".facilitator-dashboard")[0]
                });
            {% endif %}
        });
    </script>
{% endblock %}

{% block content %}
    {% if user.is_anonymous %}
        {% include "main/splash.html" %}
    {% else %}{% if not user.profile or user.profile.is_participant %}
        {% include "main/participant.html" %}
    {% else %}
        {% include "main/facilitator.html" %}
    {% endif %}{% endif %}
{% endblock %}
