{% extends 'base.html' %}
{% load render accessible %}

{% block js %}
    <script src="{{STATIC_URL}}js/app/participant.js"></script>

    {% for block in section.pageblock_set.all %}
        {% renderjs block %}
    {% endfor %}
   
    <script type="text/javascript"> 
        jQuery(document).ready(function() {
            var view = new ParticipantPageView({
                el: jQuery("body")[0],
                participant_id: {{request.user.id}},
                section_id: {{section.id}}
            });
        });
    </script>
{% endblock %}

{% block css %}
    {% for block in section.pageblock_set.all %}
        {% rendercss block %}
    {% endfor %}
{% endblock %}

{% block bodyclass %}module-{{module.slug}}{% endblock %}

{% block bodyid %}section-{{section.id}}{% endblock %}

{% block title %}{{section.label}}{% endblock %}

{% block pagetitle %}<h1>{{section.label}}</h1>{% endblock %}

{% block usernav_title %}
    {% if not request.user.profile.is_participant %}
        <span class="glyphicon glyphicon-home"></span>&nbsp;
    {% endif %}
    Meaningful Consent
{% endblock %}

{% block usernav %}
    {% if request.user.profile.is_participant %}
        <li class="pause-session">
            <a href="/participant/pause/"><span title="Pause">Pause Session</span></a>
        </li>
    {% endif %}
    
    <li class="language">
        <form action="/participant/language/" method="post">            
            {% if section.hierarchy.name == 'en' %}
                <input type="hidden" name="language" value="es" />
                <button type="submit">Espanol</button>
            {% else %}
                <input type="hidden" name="language" value="en" />
                <button type="submit">English</button>
            {% endif %}
        </form> 
    </li>
{% endblock %}

{% block primarynav %}
    <ul class="nav nav-pills">
        {% for module in modules %}
            {% ifequal section.id module.id %}
                <li class="active">
            {% else %}{% ifaccessible module %}
                <li>
            {% else %}
                <li class="disabled">
            {% endifaccessible %}{% endifequal %}
                <a href="{{module.get_absolute_url}}">{{module.label}}</a>
            </li>
        {% endfor %}
          
        {% if not request.user.profile.is_participant %}
            <li class="pull-right">
                <a href="/participant/clear/">Clear State</a>
            </li>
            {% if request.user.is_superuser %}      
                <li class="pull-right">
                    <a href="{{section.get_edit_url}}">Edit Page</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <form action="." method="post" id="submit-page">
        <div id="content">
            {% for block in section.pageblock_set.all %}
                <div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
                    {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
                    {% render block %}
                </div>
            {% endfor %}
        </div>
    
        {% with previous=section.get_previous next_section=section.get_next %}
            <ul class="pager">
                {% if previous %}
                    <li class="previous">
                        <a href="{{previous.get_absolute_url}}" class="btn btn-default">&larr; {{previous.label}}</a>
                    </li>
                {% endif %}
                
                {% if allow_redo or not is_submitted %}
                    <div>
                        <input type="hidden" name="next" value="{{next_section.get_absolute_url}}" />
                        <input id="submit-page-button" type="submit" value="Continue &rarr;" class="btn btn-primary pull-right" 
                            data-loading-text="Saving..." />
                        <span style="display: none" class="error-inline alert alert-danger">An error occurred. Please see your facilitator.</span>           
                    </div>
                {% else %}
                    <li id="next" class="next">
                        <a href="{{next_section.get_absolute_url}}" class="btn btn-next">Continue &rarr;</a>
                    </li>
                {% endif %}
            </ul>
        {% endwith %}
    </form>
    
    <div class="modal pause-session-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3>Session Paused</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#login-modal" data-dismiss="modal">
                            Facilitator Log In
                     </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Resume</button>          
                </div>
            </div>
        </div>
    </div>  
{% endblock %}

{% block content-nav %}

{% endblock %}

{% block footer %}{% endblock %}
