{% extends 'base.html' %}
{% load quizsummary %}

{% block js %}
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery("#send-to-printer").click(function() {
                window.print();
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% with cls="topic-rating-quiz" %}
    {% get_quiz_summary user cls as ratings %}
        
    <div class="participant-printout center-block">
        <div>
            <a id="send-to-printer" class="btn btn-default pull-right" href="#">
                <span class="glyphicon glyphicon-print"></span> Send to Printer
            </a>
        </div>
        
        <h2>My Priorities</h2>
        <br />

        <!-- Important -->
        <div class="panel panel-default">
            <div class="panel-heading pr-very-important">
                <h3 class="panel-title">Very important</h3>
            </div>
            <div class="panel-body">
                {% for item in ratings.veryimportant %}
                    <p>{{item}}</p>
                {% empty %}
                    <p>nothing chosen</p>                
                {% endfor %}
            </div>
        </div>

        <!-- Somewhat Important -->
        <div class="panel panel-default">
            <div class="panel-heading pr-important">
                <h3 class="panel-title">Important</h3>
            </div>
            <div class="panel-body">
                {% for item in ratings.important %}
                    <p>{{item}}</p>
                {% empty %}
                    <p>nothing chosen</p>                
                {% endfor %}
            </div>
        </div>

        <!-- Neutral -->
        <div class="panel panel-default">
            <div class="panel-heading pr-neutral">
                <h3 class="panel-title">Neutral</h3>
            </div>
            <div class="panel-body">
                {% for item in ratings.neutral %}
                    <p>{{item}}</p>
                {% empty %}
                    <p>nothing chosen</p>                
                {% endfor %}
            </div>
        </div>

        <!-- Somewhat Unimportant -->
        <div class="panel panel-default">
            <div class="panel-heading pr-not-important">
                <h3 class="panel-title">Not important</h3>
            </div>
            <div class="panel-body">
                {% for item in ratings.notimportant %}
                    <p>{{item}}</p>
                {% empty %}
                    <p>nothing chosen</p>                
                {% endfor %}
            </div>
        </div>
        

        <!-- Unimportant -->
        <div class="panel panel-default">
            <div class="panel-heading pr-not-important-at-all">
                <h3 class="panel-title">Not important at all</h3>
            </div>
            <div class="panel-body">
                {% for item in ratings.notimportantatall %}
                    <p>{{item}}</p>
                {% empty %}
                    <p>nothing chosen</p>                
                {% endfor %}
            </div>
        </div>                  
    </div>
    {% endwith %}
{% endblock %}