<script id="participant-sessions-template" type="text/template">

<% if (participants.length < 1) { %>
    <div style="clear: both"></div>
    <h4>No Participant Sessions Found</h4>
<% } else { %>
    <% if (pages > 1) { %>
        <ul class="pagination pagination-sm pull-right">
            <% for (var i=1; i <= pages; i++) { %>
                <% if (page === i) { %>
                    <li class="active"><a class="page-link disabled"
                <% } else { %>
                    <li><a class="page-link"
                <% } %>
                href="/api/participants/?page=<%=i%>"><%=i%></a></li>
            <% } %>
        </ul>
        <div class="clearfix"></div>
    <% } %>

    <table class="tablesorter tablesorter-bootstrap table table-bordered table-striped table-condensed">
     <colgroup>
         <col style="width: 125px;"></col>
         <col style="width: 160px;"></col>
         <col></col>
         <col style="width: 320px;"></col>
     </colgroup>

        <thead>
            <tr class="tab">
                <th>Participant ID</th>
                <th>Last Access</th>
                <th>Percentage (%) Complete</th>
                <th>Actions</th>
            </tr>
        </thead>
        
        <tbody>
            <% for (var i=0; i < participants.length; i++) { %>
                <tr>
                    <td><%= participants[i].user.username %></td>
                    <td><%= formatDate(participants[i].last_access) %></td>
                    <td>
                        <div class="progress">
                            <div class="bar" style="width: <%= participants[i].percent_complete %>%"></div>
                            <span class="progress-bar-label"><%= participants[i].percent_complete %>%</span>
                        </div>
                    </td>
                    <td>
                    <div class="pull-right">
                        <form action="/participant/login/" method="post" style="display: inline-block">
                            {% csrf_token %}
                            <input class="participant-id" type="hidden" name="username" value="<%= participants[i].user.username %>" />
                            <button type="submit" class="btn btn-default btn-launch-session btn-sm">
                                <span class="glyphicon glyphicon-repeat"></span> Resume</a>
                            </button>
                        </form>

                        <button class="btn btn-default btn-sm btn-edit-notes"
                         data-username="<%= participants[i].user.username %>">
                            <span class="glyphicon glyphicon-pencil"></span> Notes
                        </button>

                        <a href="/participant/print/?username=<%= participants[i].user.username %>"
                         class="btn btn-default btn-sm btn-print">
                            <span class="glyphicon glyphicon-print"></span> Print
                        </a>

                        <button class="btn btn-default btn-sm btn-archive"
                         data-username="<%= participants[i].user.username %>">
                            <span class="glyphicon glyphicon-save"></span> Archive
                        </button>
                        </div>
                    </td>
                </tr>
            <% } %>
        </tbody>
        
    </table>

 
        <!-- Confirm Archive Modal -->
        <div class="modal" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="Confirm Archive" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirm Archive</h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary btn-confirm-archive">Yes</button>
                    </div>
                </div>
            </div>
        </div>    
    
        <!-- Facilitator Notes Modal -->
        <div class="modal" id="notes-modal" tabindex="-1" role="dialog" aria-labelledby="Facilitator Notes" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Facilitator Notes</h4>
                    </div>
                    <div class="modal-body">
                        <p>Add general notes about the participant here.</p>
                        <textarea class="notes form-control" rows="3"></textarea>
                        <div class="alert alert-danger">
                            <b>Important</b>: Do not include personally identifying information in this field. 
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary btn-save-notes">Save</button>
                    </div>
                </div>
            </div>
        </div>        

<% } %>
</script>
