{% extends 'base.html' %}

{% load i18n %}

{% block js %}
    <script src="{{STATIC_URL}}js/app/participant.js"></script>
    <script type="text/javascript"> 
        jQuery(document).ready(function() {
            var view = new ParticipantPageView({
                el: jQuery("body")[0],
                participant_id: {{request.user.id}}
            });
        });
    </script>
{% endblock %}

{% block css %}{% endblock %}

{% block bodyclass %}{% endblock %}

{% block bodyid %}{% endblock %}

{% block title %}Choose language{% endblock %}

{% block content %}
    {% with percent_complete=0 %}
    <div class="row">
        <div class="content-carousel-progress progress">
            <div class="progress-bar progress-bar-striped" role="progressbar"
             aria-valuenow="{{percent_complete}}"
             aria-valuemin="0" aria-valuemax="100"
             style="width: {{percent_complete}}%">
            <span class="sr-only">{{percent_complete}}% Complete</span>
            </div>
        </div>
    </div>
    {% endwith %}

    <div id="content" class="content-carousel row">
        <div class="col-sm-1 previous"></div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-4">
                <form name='choose-language' action="{% url 'participant-language' %}" method="post">
                    {% csrf_token %}
                    <h3>Choose Language</h3>
                    <div id="content" class="pageblock choose-language-quiz">
                        <div class="radio">
                          <label>
                            <input type="radio" name="language" value="en" />
                                English <span class="glyphicon glyphicon-ok hidden" />
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="language" value="es" />
                                Spanish <span class="glyphicon glyphicon-ok hidden" />
                          </label>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <div class="col-sm-1 next">
            <a href="#" class="btn btn-choose-language"
                data-trigger="manual" data-placement="left"
                data-title="{% trans 'Oops!' %}"
                data-content="{% trans 'Please answer all questions before you move on.' %}"
                data-spy="affix">
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content-nav %}{% endblock %}
