{% load quizsummary %}
{% with cls="topic-rating-quiz" %}

    {% get_quiz_summary user cls as ratings %}
    
    <div class="row topic-rating-summary">
        <!-- Unimportant -->
        <div class="col-md-5ths">
            <div class="panel panel-default">
                <div class="panel-heading pr-not-important-at-all">
                    <h3 class="panel-title">Not important at all</h3>
                </div>
                <div class="panel-body">
                    {% for item in ratings.notimportantatall %}
                        <p>{{item}}</p>
                    {% empty %}
                        <p>nothing chosen</p>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Somewhat Unimportant -->
        <div class="col-md-5ths">
            <div class="panel panel-default">
                <div class="panel-heading pr-not-important">
                    <h3 class="panel-title">Not important</h3>
                </div>
                <div class="panel-body">
                    {% for item in ratings.notimportant %}
                        <p>{{item}}</p>
                    {% empty %}
                        <p>nothing chosen</p>                
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Neutral -->
        <div class="col-md-5ths">
            <div class="panel panel-default">
                <div class="panel-heading pr-neutral">
                    <h3 class="panel-title">Neutral</h3>
                </div>
                <div class="panel-body">
                    {% for item in ratings.neutral %}
                        <p>{{item}}</p>
                    {% empty %}
                        <p>nothing chosen</p>                
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Somewhat Important -->
        <div class="col-md-5ths">
            <div class="panel panel-default">
                <div class="panel-heading pr-important">
                    <h3 class="panel-title">Important</h3>
                </div>
                <div class="panel-body">
                    {% for item in ratings.important %}
                        <p>{{item}}</p>
                    {% empty %}
                        <p>nothing chosen</p>                
                    {% endfor %}
                </div>
            </div>
        </div>
                
        <!-- Important -->
        <div class="col-md-5ths">
            <div class="panel panel-default">
                <div class="panel-heading pr-very-important">
                    <h3 class="panel-title">Very important</h3>
                </div>
                <div class="panel-body">
                    {% for item in ratings.veryimportant %}
                        <p>{{item}}</p>
                    {% empty %}
                        <p>nothing chosen</p>                
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endwith %}