{% load quizsummary %}
{% with cls="topic-rating-quiz" %}

    {% get_quiz_summary user cls as ratings %}
    
    <div class="row">
        <!-- Unimportant -->
        <div class="col-md-5ths">
            <div class="well">
                <h4>Unimportant</h4>
                {% for item in ratings.unimportant %}
                    {{item}}
                {% endfor %}
            </div>
        </div>

        <!-- Somewhat Unimportant -->
        <div class="col-md-5ths">
            <div class="well">
                <h4>Somewhat Unimportant</h4>
                 {% for item in ratings.somewhatunimportant %}
                    {{item}}
                 {% endfor %}
            </div>
        </div>
        
        <!-- Neutral -->
        <div class="col-md-5ths">
            <div class="well">
                <h4>Neutral</h4>
                {% for item in ratings.neutral %}
                   {{item}}
                {% endfor %}
            </div>
        </div>
        
        <!-- Somewhat Important -->
        <div class="col-md-5ths">
            <div class="well">
                <h4>Somewhat Important</h4>
                {% for item in ratings.somewhatimportant %}
                    {{item}}
                {% endfor %}
            </div>
        </div>
                
        <!-- Important -->
        <div class="col-md-5ths">
            <div class="well">
                <h4>Important</h4>
                {% for item in ratings.important %}
                    {{item}}
                {% endfor %}
            </div>
        </div>
    </div>
{% endwith %}