{% extends 'base.html' %}

{% block content %}


<div class="jumbotron">
	
		<img style="padding: 0px 0px 30px 30px;" class="pull-right" src="{{STATIC_URL}}img/logo_meaningfulconsent_large.png" />

		
	    <h2>Meaningful Consent</h2>
	    
	    <p>
	    Vestibulum dapibus orci eu dignissim dapibus. Aliquam erat volutpat. 
	    Ut a volutpat diam. Duis ut aliquam lectus. Nunc eget pulvinar ipsum. 
	    Pellentesque feugiat eros in faucibus pulvinar.  Nunc eget pulvinar ipsum. 
	    Pellentesque feugiat eros in faucibus pulvinar. 
		</p>
		
		<button type="button" class="btn btn-success">Success</button>
		

</div>

<div style="clear: both;"><div>

<div class="row-fluid">

	<div class="col-md-4">  
	
	    <h3>Meaningful Consent</h3>
	
		    <p>
		    Vestibulum dapibus orci eu dignissim dapibus. Aliquam erat volutpat. 
		    Ut a volutpat diam. Duis ut aliquam lectus. Nunc eget pulvinar ipsum. 
		    Pellentesque feugiat eros in faucibus pulvinar. Phasellus elementum dui 
		    eget nisi pharetra, a venenatis sapien commodo. Suspendisse ac diam diam. 
		    Proin pellentesque tempor lectus, vitae imperdiet felis sodales ut. 
		    Nunc mauris elit, adipiscing a luctus nec, mollis at lorem. Sed semper molestie egestas.
			</p>
	
	</div>
	
	<div class="col-md-4">  
	
	    <h3>Meaningful Consent</h3>
	
		    <p>
		    <p>
		    Vestibulum dapibus orci eu dignissim dapibus. Aliquam erat volutpat. 
		    Ut a volutpat diam. Duis ut aliquam lectus. Nunc eget pulvinar ipsum. 
		    Pellentesque feugiat eros in faucibus pulvinar. Phasellus elementum dui 
		    eget nisi pharetra, a venenatis sapien commodo. Suspendisse ac diam diam. 
		    Proin pellentesque tempor lectus, vitae imperdiet felis sodales ut. 
		    Nunc mauris elit, adipiscing a luctus nec, mollis at lorem. Sed semper molestie egestas.
			</p>
	
	</div>
	
	<div class="col-md-4">  
	
	    <h3>Meaningful Consent</h3>
	
		    <p>
		    <p>
		    Vestibulum dapibus orci eu dignissim dapibus. Aliquam erat volutpat. 
		    Ut a volutpat diam. Duis ut aliquam lectus. Nunc eget pulvinar ipsum. 
		    Pellentesque feugiat eros in faucibus pulvinar. Phasellus elementum dui 
		    eget nisi pharetra, a venenatis sapien commodo. Suspendisse ac diam diam. 
		    Proin pellentesque tempor lectus, vitae imperdiet felis sodales ut. 
		    Nunc mauris elit, adipiscing a luctus nec, mollis at lorem. Sed semper molestie egestas.
			</p>
	
	</div>

</div>



{% endblock %}