{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h2>Meaningful Consent</h2>
    <p>Vestibulum dapibus orci eu dignissim dapibus. Aliquam erat volutpat. 
    Ut a volutpat diam. Duis ut aliquam lectus. Nunc eget pulvinar ipsum. 
    Pellentesque feugiat eros in faucibus pulvinar. Phasellus elementum dui 
    eget nisi pharetra, a venenatis sapien commodo. Suspendisse ac diam diam. 
    Proin pellentesque tempor lectus, vitae imperdiet felis sodales ut. 
    Nunc mauris elit, adipiscing a luctus nec, mollis at lorem. Sed semper molestie egestas.
</div>
{% endblock %}