{% extends 'base.html' %}

{% block content %}


<div class="row-fluid">
	<div class="col-md-12">  

<div class="jumbotron text-center">
	
		<img class="img-responsive" src="{{STATIC_URL}}img/logo_meaningfulconsent_large.png" />
		
	    <h1>Facts first.</h1>
	    
	    <p class="lead">
	    <b>Meaningful Consent</b> is a self-paced educational module designed to help families of children with cancer understand the real risks and benefits of whole genome sequencing for their children in order to create an ethical informed consent process.
		</p>
		
		<button type="button" class="btn btn-success btn-lg" href="#" data-toggle="modal" data-target="#login-modal">Get Started</button>

</div>
</div>
</div>

<div class="clearfix"></div>

<div class="row-fluid">

	<div class="col-md-4 text-center">  
	
		<img class="img-responsive img-rounded" src="{{STATIC_URL}}js/holder/holder.js/100%x200/social alt="test" />
	    
	    	<h3>Real Benefit</h3>
	
		<p>
		Vestibulum dapibus orci eu dignissim dapibus. Aliquam erat volutpat. 
		Ut a volutpat diam. Duis ut aliquam lectus. Nunc eget pulvinar ipsum. 
		Pellentesque feugiat eros in faucibus pulvinar. Phasellus elementum dui 
		eget nisi pharetra, a venenatis sapien commodo. Suspendisse ac diam diam. 
		Proin pellentesque tempor lectus, vitae imperdiet felis sodales ut. 
		Nunc mauris elit, adipiscing a luctus nec, mollis at lorem. Sed semper molestie egestas.
		</p>
	
	</div>
	
	<div class="col-md-4 text-center">  
	
		<img class="img-responsive img-rounded" src="{{STATIC_URL}}js/holder/holder.js/100%x200/social alt="test" />
	    
	    	<h3>Cool Value</h3>
	
		<p>
		Vestibulum dapibus orci eu dignissim dapibus. Aliquam erat volutpat. 
		Ut a volutpat diam. Duis ut aliquam lectus. Nunc eget pulvinar ipsum. 
		Pellentesque feugiat eros in faucibus pulvinar. Phasellus elementum dui 
		eget nisi pharetra, a venenatis sapien commodo. Suspendisse ac diam diam. 
		Proin pellentesque tempor lectus, vitae imperdiet felis sodales ut. 
		Nunc mauris elit, adipiscing a luctus nec, mollis at lorem. Sed semper molestie egestas.
		</p>
	
	</div>
	<div class="col-md-4 text-center">  
	
		<img class="img-responsive img-rounded" src="{{STATIC_URL}}js/holder/holder.js/100%x200/social alt="test" />
	    
	    	<h3>The People Behind It</h3>
	
		<p>
		Vestibulum dapibus orci eu dignissim dapibus. Aliquam erat volutpat. 
		Ut a volutpat diam. Duis ut aliquam lectus. Nunc eget pulvinar ipsum. 
		Pellentesque feugiat eros in faucibus pulvinar. Phasellus elementum dui 
		eget nisi pharetra, a venenatis sapien commodo. Suspendisse ac diam diam. 
		Proin pellentesque tempor lectus, vitae imperdiet felis sodales ut. 
		Nunc mauris elit, adipiscing a luctus nec, mollis at lorem. Sed semper molestie egestas.
		</p>
	
	</div>

</div>



{% endblock %}